@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
  --green: #e3ffd7;
  --lightgreen: #e5ebe2;
  --darkgreen: #6be20a;
}
* {
  box-sizing: border-box;
  font-family: 'Roboto';
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  background: linear-gradient(var(--green), var(--lightgreen));
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.493);
}

.container {
  display: grid;
  width: 100%;
  grid-gap: 20px;
  grid-template-rows: 100px [content-start] auto [content-end] 100px;
  grid-template-columns: repeat(12, 1fr);
}
footer {
  grid-column: 1 / -1;
  background: orange;
}
@media screen and (min-width: 700px) {
  main {
    grid-row: content;
    grid-column: 2 / -2;
  }
}
