@import url('https://fonts.googleapis.com/css?family=Roboto');
:root {
  --green: #e3ffd7;
  --lightgreen: #e5ebe2;
  --darkgreen: #6be20a;
  --navcolor: rgb(160, 120, 106);
}
* {
  box-sizing: border-box;
  font-family: 'Roboto';
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
  background: linear-gradient(var(--green), var(--lightgreen));
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.493);
}
img {
  max-width: 100%;
  max-height: 100%;
  min-width: 99%;
}
.grid {
  display: grid;
}
.container {
  display: grid;
  width: 100%;
  grid-gap: 20px;
  grid-template-rows: 100px [content-start] auto [content-end] 100px;
  grid-template-columns: 5vw [content-start] auto [content-end] 5vw;
}
main {
  grid-column: 1 / -1;
  display: grid;
}

@media screen and (min-width: 700px) {
  main {
    grid-row: content;
    grid-column: content;
  }
}
