@media screen and (min-width: 700px) {
  main.todays-games {
    grid-column: 1 / -1;
    grid-template-columns: repeat(12, 1fr);
  }
}

div.page-title {
  grid-column: 2 / -2;
}
main.todays-games {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}

main.todays-games h2 {
  text-align: center;
}

div.big-img {
  grid-column: 1 /-1;
}

div.all-games {
  grid-column: 2 / -2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
}

div.competition-live {
  text-align: center;
  box-shadow: 2px 5px 8px #423f11;
  display: grid;
  grid-template-rows: 46px;
  border-radius: 3px;
  background: #fff;
  padding-bottom: 15px;
  transition: all 2s ease-out;
  min-height: 300px;
}

div.competition-live > * {
  align-items: center;
  font-weight: normal;
}

div.competition-live div.game-link {
  padding-top: 16px;
}
hr {
  min-width: 80%;
  max-width: 90%;
  height: 0px;
  border: 0.1em solid rgba(0, 0, 0, 0.342);
  -webkit-box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.788);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
  grid-column: 1 / -1;
  margin-bottom: 0;
}
hr.league-title {
  min-width: 96%;
}
div.listed-game hr {
  max-width: 20%;
  margin-top: 0;
}
div.listed-game {
  cursor: pointer;
  display: flex;
  margin: 1px 0;
  animation: display-game 0.2s ease-out 1;
}

div.selector {
  background: green;
  flex: 1;
  height: 80%;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  transition: all 0.2s ease-out 0s;
}

div.game-link {
  flex: 30;
  transition: all 0.2s ease-out;
}

div.listed-game a {
  text-decoration: none;
  color: #000;
  outline: none;
}

div.competition-live div:nth-child(2n) {
  background: rgb(250, 249, 249);
}

@keyframes display-game {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}
