main {
  margin-top: 30px;
  grid-template-rows: 30px auto 1fr;
  grid-template-columns: 200px minmax(auto, 50%) 200px;
  justify-content: center;
  align-items: end;
  text-align: center;
}

main > *:first-of-type {
  grid-column: 1 /-1;
}
div.home.team {
  grid-column: 1 / 2;
}
div.score {
  grid-column: 2 / 3;
  align-self: center;
  font-size: 3em;
}
div.away.team {
  grid-column: 3 / 4;
}

div.prediction {
  grid-column: 1 /-1;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr;
}
div.prediction div.prediction-bar {
  grid-row: 2 /3;
  grid-column: 2 /-2;
  display: flex;
  justify-content: center;
  height: 15px;
}
div.prediction-bar > div {
  border: 1px solid rgb(0, 0, 0);
}

div.prediction > *:first-of-type {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  width: 100%;
}

div.team {
  grid-row: 2 / 3;
}

div.team h4 {
  height: 30px;
}

div.img-container {
  min-height: 100px;
}

div.team img {
  animation: open 0.6s 1;
}

@media screen and (max-width: 700px) {
  main {
    grid-template-columns: 20px repeat(18, 1fr) 20px;
  }
  div.home.team {
    grid-column: 2 / span 5;
  }
  div.score {
    grid-column: 8/14;
    font-size: 0.9em;
  }
  div.away.team {
    grid-column: span 5 / -2;
  }
}

@keyframes open {
  from {
    height: 2%;
    transform: scaleY(0.1);
  }
  to {
    transform: scaleY(1);
  }
}
